<p id="battery-level">0</p>
<p id="difference">0</p>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="application/javascript">
        var initialLevel = 0; 
      window.addEventListener("load",() => {
    setInterval(() => {
      $.ajax({
        url: "https://battery-lvl.onrender.com/lvl",
        method: "GET",
        success: function(lvl) {
          if (!initialLevel) {
              initialLevel = parseFloat(lvl);
          }
          var currentLevel = parseFloat(lvl);
          var diff;
          diff = currentLevel - initialLevel;
          console.log(diff);
          $("#battery-level").text(currentLevel + "%");
          $("#difference").text(diff + "%");
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    },500);
})
</script>